/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * coveryourassets implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to HTML elements you create (in Game.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/




#board_id {
  position: relative;
  margin: 5px;
  
}

.selectablemulti {
    cursor: pointer !important;
    pointer-events: auto !important;
    border-radius: 4px;
    outline: 3px dashed red;
    
}

.selectable {
    cursor: pointer !important;
    pointer-events: auto !important;
    outline: 3px dashed red;
    border-radius: 4px;
    
}

   
.selected, .selectedmulti {
    outline: 4px solid red; 
    border-radius: 4px;
    
}

.selectedmulti{
  cursor: pointer !important;
}


.cards-container {
  margin: 0px auto;
  width: calc(100% - 100px);
  border-radius: 20px;
  z-index: 50;
  margin-top: 20px;
  
}

#hand_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#table_cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 2px solid black;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

#table_cards_container .titre {
  width: 100%;
  text-align: center;
}

#my_cards {
  margin: 0 auto;
  min-height: 179px;
}

#table_cards {
  margin: 0 auto;
  min-height: 179px;
}

.stockitem {
/* useful pour resizing sprites */
    position: absolute;
    background-image: url('img/Cards.png');
    background-size: 1000% 200%;
    /* box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.44); */
    border-radius: 5%;
    z-index: 100;
}

#hand_container .stockitem:hover{
  transform: scale(1.1) !important;
  z-index: 110 !important;
}



.hidden {
  display: none !important;
}

.deck-discard-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 30px;
}

.deck-container {
  width: 128px;
  height: 179px;
  background-image: url('img/Cards.png');
  background-size: 1000% 200%;
  background-position: -500% -100%;
  /* box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.44); */
  border-radius: 5%;
  
}

.discard-container {
  width: 128px;
  height: 179px;
  
}


.set-my-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  
}

.set-opponent-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 95px 60px;
  margin-top: 45px;
}

.set{
  width: 179px;
  height: 179px;
  position: relative;
}

.set-cards-impaire{
  position: absolute;
  width: 128px;
  height: 179px;
  border-radius: 5%;
  background-color: rgba(255, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.set-cards-paire{
  position: absolute;
  width: 128px;
  height: 179px;
  border-radius: 5%;
  background-color: rgba(0, 0, 255, 0.2);
  bottom: 0;
  right: 0;
}

.card_paire{
  bottom: 0;
  right: 0;
}

.card_impaire{
  bottom: 0;
  left: 0;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.card {
  width: 128px;
  height: 179px;
  background-image: url('img/Cards.png');
  background-size: 1000% 200%;
  border-radius: 5%;
  position: absolute;
}

.sets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  border-radius: 20px;
  padding-bottom: 45px;
  margin-bottom: 10px;
}

.title_name_set{
  position: absolute;
  top: -38px;
  
}

.challenge_cards_container {

  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 2px solid black;
  padding-bottom: 20px;
}

.challenge_cards_detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.challenge_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 179px;
  overflow: visible;
}

.challenge_cards > div {
  width: 128px;
  height: 179px;
  background-image: url('img/Cards.png');
  background-size: 1000% 200%;
  /* box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.44); */
  border-radius: 5%;
}

.challenge_cards > div + div {
  margin-left: -64px; /* chevauchement 50% */
}

.challenge_card{
  width: 128px;
  height: 179px;
  background-image: url('img/Cards.png');
  background-size: 1000% 200%;
  /* box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.44); */
  border-radius: 5%;
  z-index: 100;
}

.deck-counter{
  margin-top: 158px;
  margin-left: 47px;
  text-align: center;
  font-weight: bold;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  font-size: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.hand_card_pannel {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.hand_card_pannel_image{

  position: relative;
  width: 56px;
  height: 50px;
  background-image: url('img/hand_card_v2.png');
  background-size: 100% 100%;
}

.set_card_pannel {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.set_card_pannel_image{

  position: relative;
  width: 56px;
  height: 50px;
  background-image: url('img/set_image_v2.png');
  background-size: 100% 100%;
}

.counter_hand{
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  font-size: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-weight: bold;
 
}

.counter_last_set, .counter_second_to_last_set{
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  font-size: 16px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-weight: bold;
  color: white;
 
}

.counter_second_to_last_set{
  bottom: -34px;
  left: 7px;
  position: absolute;
  z-index: 600;
  font-size: 14px !important;
}

.counter_last_set{
  top: -2px;
  right: -44px;;
  position: absolute;
  z-index: 600;
  font-size: 14px !important;
  
}

.selectable_ff0000{
  outline: 4px dashed #ff0000 !important;
}

.selectable_008000{
  outline: 4px dashed #008000 !important;
}

.selectable_0000ff{
  outline: 4px dashed #0000ff !important;
}

.selectable_ffa500{
  outline: 4px dashed #ffa500 !important;
}

.selectable_e94190{
  outline: 4px dashed #e94190 !important;
}

.selectable_982fff{
  outline: 4px dashed #982fff !important;
}

.selected_ff0000{
  outline: 4px solid #ff0000 !important;
}

.selected_008000{
  outline: 4px solid #008000 !important;
}

.selected_0000ff{
  outline: 4px solid #0000ff !important;
}

.selected_ffa500{
  outline: 4px solid #ffa500 !important;
}

.selected_e94190{
  outline: 4px solid #e94190 !important;
}

.selected_982fff{
  outline: 4px solid #982fff !important;
}

.cards_log_container{
  position: relative;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.card_log {
  width: 64px;
  height: 90px;
  background-image: url('img/Cards.png');
  background-size: 1000% 200%;
  border-radius: 5%;
}

.cumul_score_pannel{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  gap: 2px;
}

.first_set{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
}

.first_card_set_type {
    width: 46px;
    height: 56px;
    background-image: url('img/Cards.png');
    background-size: 1000% 200%;
    border-radius: 5%;  
}

.lock_first_set{
  width: 18px;
  height: 20px;
  background-image: url('img/cadena.png');
  background-size: 100% 100%;
}

.billet{
  position: relative;
  width: 42px;
  height: 30px;
  background-image: url('img/billet.jpg');
  background-size: 100% 100%;
}

.log_newRound {
  background: #60371d;
  text-align: center;
  color: #efd5ab;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 2px 2px;
  font-size: 24px;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 7px; 
  
}

.log_endofRound {
  background: #60371d;
  text-align: center;
  color: #efd5ab;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 2px 2px;
  font-size: 24px;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  display: block;
  position: relative; 
  display: flex;
  justify-content: center;
  padding-bottom: 7px; 
  
}

.log_turn_ff0000 {
  background: #ff0000;
  text-align: center;
  color: #efd5ab;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 2px 2px;
  font-size: 24px;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  display: block;
  position: relative; 
  display: flex;
  justify-content: center;
  padding-bottom: 7px; 
  
}

.log_turn_008000 {
  background: #008000;
  text-align: center;
  color: #efd5ab;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 2px 2px;
  font-size: 24px;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  display: block;
  position: relative; 
  
}

.log_turn_0000ff {
  background: #0000ff;
  text-align: center;
  color: #efd5ab;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 2px 2px;
  font-size: 24px;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  display: block;
  position: relative; 
  
}

.log_turn_ffa500 {
  background: #ffa500;
  text-align: center;
  color: #efd5ab;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 2px 2px;
  font-size: 24px;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  display: block;
  position: relative; 
  
}

.log_turn_e94190 {
  background: #e94190;
  text-align: center;
  color: #efd5ab;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 2px 2px;
  font-size: 24px;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  display: block;
  position: relative; 
  
}

.log_turn_982fff {
  background: #982fff;
  text-align: center;
  color: #efd5ab;
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 2px 2px;
  font-size: 24px;
  font-family: 'Garamond', 'Montserrat', 'Raleway', 'Segoe UI', Arial, sans-serif;
  display: block;
  position: relative; 
  
}


.lock_set{
  width: 18px;
  height: 20px;
  position: absolute;
  background-image: url('img/cadena.png');
  background-size: 100% 100%;
  bottom: -42px;
  left: 46px;
}


.pile_set_impaire{
  width: 45px;
  height: 45px;
  position: absolute;
  background-image: url('img/pile.png');
  background-size: 100% 100%;
  bottom: -44px;
  left: 1px;
  z-index: 230;
}

.pile_set_paire{
    width: 45px;
    height: 45px;
    position: absolute;
    background-image: url('img/pile2.png');
    background-size: 100% 100%;
    bottom: 138px;
    left: 185px;
    z-index: 230;
}
